.image-holder {
  width: 25%;
}

.image-holder img {
  width: 100%;
  border-radius: 1rem;
}

.bend-left {
  transform: rotate(-25deg);
  z-index: -5;
}

.bend-right {
  transform: rotate(25deg);
  z-index: -5;
}

.up {
  opacity: 0.999;
}

.image-illustration {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  z-index: 5;
}

.circle-one,
.circle-two,
.circle-three,
.circle-four {
  background-color: #b9b3e3;
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 100%;
  left: 25%;
}
.circle-two {
  background-color: #4ca3a3;
  width: 12%;
  top: 90%;
  left: 40%;
  z-index: -1;
}
.circle-three {
  background-color: #ff6f61;
  width: 10%;
  top: 100%;
  left: 60%;
  z-index: -1;
}
.circle-four {
  background-color: #d3d3d3;
  width: 10%;
  top: 85%;
  left: 75%;
  z-index: -1;
}

@media (min-width: 750px) {
  .image-holder {
    width: 26%;
  }

  .image-illustration {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .image-illustration {
    margin-bottom: 6.5rem;
  }
}
